/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block .material-icons {
	font-size: inherit;
}

.icon-block{
text-align: center;


}

.icon-block img{
height: 50px;
width: 50px;
transition: opacity .5s ease-in-out;
transition: transform 1s;


}

.icon-block img:hover{
  opacity: 0.6;
  transition: opacity .5s ease-in-out;
  transform: scale(1.2);

}

.col.s12.m4{
width: 50%;

}

.page-footer.orange{
	padding-top: 0px;
	background-color: black !important;
}



a{
  color: inherit;
}
.nav-wrapper{
	background-color: black !important;

/*background-image: url("../images/header-image-1.jpg");*/

}

.h5-class{
	color: white;
}
/*
body{
	background-image: url("../images/blur.jpg");
}
*/
.header.center.orange-text{
	color: white !important;
}
.header.col.s12.light{
	color: white !important
}

.no-pad-bot-wrapper{

	background-image: url("../images/header-image-1.jpg");

}
.about-me-header{
	text-align: center;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;

}
.about-me-p{
	color: white;
}

.about-me-wrapper{
background-image: url("../images/header-image-1.jpg");
}

.hobbies-interests{
	color: #6ec1e4;
	font-weight: bold;


}

.hbWrap{
	text-align: center;
}



.center{
	color: #6ec1e4 !important;
	font-weight: bold;
}

.about-me-icon img{
	height: 75px;
	width: 75px;
}

.about-me-icon{
	text-align: center;
display: inline-block;
margin-bottom: 70px;
width: 30%;
margin-right: 40px;
margin-left: 40px;
height: auto;
}

.about-me-container{
	/*height: 600px; */
	height: auto;
  display: flex;
  justify-content: center;
}

.about-me-text{
	height: 110px;

}

nav{
	background-color: black;
}

.nav-wrapper{
	position: relative;
	height: 100%;
	width: 90%;
	margin: auto;
}
