/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* needed for basic layout of page */
.page-footer.orange{
	padding-top: 0px;
	background-color: black !important;
}
a{
  color: inherit;
}
.nav-wrapper{
	background-color: black !important;
}
.h5-class{
	color: white;
}
.header.center.orange-text{
	color: white !important;
}
.header.col.s12.light{
	color: white !important
}
.no-pad-bot-wrapper{
	background-image: url("../images/header-image-1.jpg");
	height: 312px;
}
nav{
	background-color: black;
}
.nav-wrapper{
	position: relative;
	height: 100%;
	width: 90%;
	margin: auto;
}
/* needed for basic layout of page */

/* extra stuff below */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 6.4%;
  text-align: center;
}

.col img{
  height: 216px;
  width: 384px;

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 46.8%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

.light-blue-h5{
  color: #6ec1e4;
}
